.grid {
  width: 100%;
  max-width: var(--maxwidth-1);
  margin: auto;
  padding: var(--p-1);
  display: grid;
  gap: var(--gap-1);
}

@media only screen and (min-width: 550px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 980px) {
  .grid {
    padding: var(--p-2);
    grid-template-columns: repeat(4, 1fr);
  }
}
