.header {
  position: relative;
}

.container {
  width: 100%;
  max-width: var(--maxwidth-1);
  margin: auto;
  padding: var(--p-1);
  padding-bottom: 10rem;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: var(--p-2);
    padding-bottom: 10rem;
  }
}

@media only screen and (min-width: 1170px) {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .header {
    width: 100%;
  }
}
