.thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
}

.thumbnail img {
  transition: 0.3s;
}

.thumbnail:hover img {
  opacity: 0.8;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  color: var(--clr-light-shade-1);
  padding: 2rem;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.artist {
  opacity: 0.7;
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
}
