.thumbnail {
  position: relative;
  display: block;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  color: var(--clr-light-shade-1);
  padding: 2rem;
  line-height: 28px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.info span {
  opacity: 0.7;
  font-size: 0.9rem;
}
