.nav {
  width: 100%;
  max-width: var(--maxwidth-1);
  margin: 0 auto;
  padding: var(--p-1);
  border-bottom: 1px solid var(--clr-light-shade-3);
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-1);
}

.link {
  font-weight: bold;
  line-height: 0.75rem;
  font-size: 0.563rem;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
  color: var(--clr-dark-shade-2);
}

.image {
  width: 113.04px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .nav {
    padding-inline: var(--p-2);
    padding-block: 0;
    border: none;
  }

  .image {
    width: 169.56px;
    height: 48px;
  }

  .link {
    font-size: 0.75rem;
  }

  .list {
    padding-block: var(--p-1);
    border-bottom: 1px solid var(--clr-light-shade-3);
  }
}
