.container {
  position: absolute;
  bottom: -6rem;
  max-width: 80%;
}

.text {
  padding: 2rem;
  padding-left: 0;
  background-color: var(--clr-light-shade-1);
}

.title {
  font-size: 1.5rem;
}

.artist {
  font-size: 0.938rem;
  opacity: 0.4;
  font-weight: normal;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 500px) {
  .title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    bottom: auto;
    top: 0;
    right: 0;
    left: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .text {
    padding-left: 2rem;
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1170px) {
  .container {
    max-width: 24.75rem;
    height: 100%;
    justify-content: space-between;
    left: 26rem;
  }

  .image {
    height: 8rem;
    width: 8rem;
    position: absolute;
    bottom: 0;
    left: 5.5rem;
    bottom: -3rem;
  }

  .text {
    width: auto;
  }
}
