@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --clr-dark-shade-1: #000000;
  --clr-dark-shade-2: #7d7d7d;
  --clr-light-shade-1: #ffffff;
  --clr-light-shade-2: #f3f3f3;
  --clr-light-shade-3: #e5e5e5;

  --maxwidth-1: 85rem;

  --p-1: 1.5rem;
  --p-2: 2.5rem;

  --gap-1: 2.5rem;

  --ff-serif: 'Libre Baskerville', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-light-shade-1);
  color: var(--clr-dark-shade-1);
  font-family: var(--ff-serif);
}

ul {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
