@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --clr-dark-shade-1: #000000;
  --clr-dark-shade-2: #7d7d7d;
  --clr-light-shade-1: #ffffff;
  --clr-light-shade-2: #f3f3f3;
  --clr-light-shade-3: #e5e5e5;

  --maxwidth-1: 85rem;

  --p-1: 1.5rem;
  --p-2: 2.5rem;

  --ff-serif: 'Libre Baskerville', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-light-shade-1);
  color: var(--clr-dark-shade-1);
  font-family: var(--ff-serif);
}

ul {
  list-style-type: none;
}
