.desc {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: var(--clr-dark-shade-2);
}

.container {
  padding-block: 9rem;
  position: relative;
}

.year {
  position: absolute;
  top: 3.3rem;
  z-index: -1;
  color: var(--clr-light-shade-2);
  font-size: 6.25rem;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .year {
    right: auto;
    left: -1rem;
    font-size: 12.5rem;
    top: 1rem;
  }

  .desc {
    padding-inline: 6.938rem;
  }
}

@media only screen and (min-width: 1170px) {
  .container {
    max-width: 27.75rem;
    padding-top: 7rem;
    padding-bottom: 0;
  }

  .year {
    top: -2.2rem;
    margin: 0;
    padding: 0;
  }

  .desc {
    padding: 0;
    padding-right: 7.563rem;
  }
}
